{% extends 'MopaBootstrapBundle::base.html.twig' %}

{#{% block head_script %}#}
    {#{% javascripts filter='?yui_js'#}
    {#'@QaSystemCoreBundle/Resources/public/js/jquery-1.9.1.js' %}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
{#{% endblock head_script %}#}

{% block head_style %}
    {{ parent() }}

    {% stylesheets filter='less,cssrewrite,?yui_css' output='js/compiled/main.css'
      '@QaSystemCoreBundle/Resources/less/custom.less'
      '@QaSystemCoreBundle/Resources/css/chosen.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block foot_script_assetic %}
    {% javascripts filter='?yui_js' output='js/compiled/core.js'
    '@QaSystemCoreBundle/Resources/public/js/jquery-1.9.1.js'
    '@QaSystemCoreBundle/Resources/public/js/chosen.jquery.js'
    '@QaSystemCoreBundle/Resources/public/js/common.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/*.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}

{% block title %}Php deployment tool{% endblock %}
{% block headline %}{% endblock %}

{% block header %}
    {# @TODO: Remove this ugly hack =) #}
    <div style="height: 20px"></div>
{% endblock header %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, staticTop: false, inverse: true } %}
        {% block brand %}
            <a class="navbar-brand" href="{{ path('homepage') }}">Php deployment tool</a>
        {% endblock %}

        {% block menu %}
            {{ mopa_bootstrap_menu('QaSystemCoreBundle:Builder:mainMenu') }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content_sidebar %}
{% endblock %}

{% block footer %}
{% endblock %}
