{{ include('QaSystemCoreBundle:Deployment:deploymentStatusFilter.html.twig', { 'selectedStatus': selectedStatus }) }}

<div class="navigation">
    {{ knp_pagination_render(deployments) }}
</div>

<table class="table table-bordered table-hover table-deployment">
    <thead>
        <tr>
            <th>{{ knp_pagination_sortable(deployments, 'Id', 'd.id') }}</th>
            <th>Project</th>
            <th>Recipe</th>
            <th>Branch</th>
            <th>{{ knp_pagination_sortable(deployments, 'Server', 's.name') }}</th>
            <th>Status</th>
            <th class="start-date">{{ knp_pagination_sortable(deployments, 'Started at', 'd.startDate') }}</th>
            <th class="start-date">{{ knp_pagination_sortable(deployments, 'Finished at', 'd.endDate') }}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for deployment in deployments %}
        {{ include('QaSystemCoreBundle:Deployment:deploymentRow.html.twig', { "deployment": deployment }) }}
    {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(deployments) }}
</div>
