{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block headline %}Deployment{% endblock %}

{% block content_content %}
    <p>
        <a href="{{ path('deployment') }}" class="btn btn-default">
            Back to the list
        </a>
    </p>

    {% set commitsBehind = 'N/A' %}
    {% set alertClass = 'alert-danger' %}
    {% if entity.commitsBehind is not null %}
        {% set commitsBehind = entity.commitsBehind %}
        {% if commitsBehind == 0 %}
            {% set alertClass = 'alert-success' %}
        {% endif %}
    {% endif %}
    <div class="alert {{ alertClass }}" role="alert">
        {{ commitsBehind }} commits behind {{ entity.project.defaultBranch }}
    </div>
    <table class="table table-bordered table-show-deploy">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                {% set startDate = null %}
                {% set startDateLocalized = null %}
                {% if entity.startDate is not null %}
                    {% set startDate = entity.startDate|date("c") %}
                    {% set startDateLocalized = entity.startDate|localizeddate('long', 'long') %}
                {% endif %}
                <td class="text-center deployment-date" data-date="{{ startDate }}" title="{{ startDateLocalized }}"></td>
            </tr>
            <tr>
                <th>Enddate</th>
                {% set endDate = null %}
                {% set endDateLocalized = null %}
                {% if entity.endDate is not null %}
                    {% set endDate = entity.endDate|date("c") %}
                    {% set endDateLocalized = entity.endDate|localizeddate('long', 'long') %}
                {% endif %}
                <td class="text-center deployment-date" data-date="{{ endDate }}" title="{{ endDateLocalized }}"></td>
            </tr>
            <tr>
                <th>
                    Output
                    <br>
                    <button class="btn-view-all">View all</button>
                </th>
                <td class="deployment-output">
                    <div class="hide">
                        {{ entity.output | raw }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block foot_script_assetic %}
    {{ parent() }}
    {% javascripts filter='?yui_js' output='compiled/js/deployments.js'
    '@QaSystemCoreBundle/Resources/public/js/deployments.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}
