{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block headline %}Deployment{% endblock %}

{% block content_content %}
    <p>
        <a href="{{ path('deployment') }}" class="btn btn-default">
            Back to the list
        </a>
    </p>

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                {% set startDate = null %}
                {% set startDateLocalized = null %}
                {% if entity.startDate is not null %}
                    {% set startDate = entity.startDate|date("c") %}
                    {% set startDateLocalized = entity.startDate|localizeddate('long', 'long') %}
                {% endif %}
                <td class="text-center deployment-date" data-date="{{ startDate }}" title="{{ startDateLocalized }}"></td>
            </tr>
            <tr>
                <th>Enddate</th>
                {% set endDate = null %}
                {% set endDateLocalized = null %}
                {% if entity.endDate is not null %}
                    {% set endDate = entity.endDate|date("c") %}
                    {% set endDateLocalized = entity.endDate|localizeddate('long', 'long') %}
                {% endif %}
                <td class="text-center deployment-date" data-date="{{ endDate }}" title="{{ endDateLocalized }}"></td>
            </tr>
            <tr>
                <th>Output</th>
                <td style="background: black;">
                        {{ entity.output | raw }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
