{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block headline %}Deployment{% endblock %}

{% block content_content %}
    <a href="{{ path('deployment') }}" class="btn btn-default">
        Back to the list
    </a>

    {# @TODO: ugly hack #}
    <br>
    <br>

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>
                    {% if entity.endDate is not null %}
                        {{ entity.startDate | date("m/d/Y H:i") }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>
                    {% if entity.endDate is not null %}
                        {{ entity.endDate | date("m/d/Y H:i") }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Output</th>
                <td style="background: black;">
                        {{ entity.output | raw }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
