{% set status = 'default' %}
{% if job.status == 'error' %}
    {% set status = 'danger' %}
{% elseif job.status == 'done' %}
    {% set status = 'success'  %}
{% elseif job.status == 'aborted' %}
    {% set status = 'warning'  %}
{% elseif job.status == 'running' %}
    {% set status = 'info'   %}
{% endif %}

<tr class="{{ status }}">
    <td class="text-center"><a href="{{ path('deployment_show', { 'id': job.id }) }}">{{ job.id }}</a></td>
    <td class="text-center">{{ job.command }}</td>
    <td class="text-center status">
        <span class="label label-{{ status }}">{{ job.status }}</span>
    </td>

    <td class="text-center">
        <a href="{{ path('deployment_show', { 'id': job.id }) }}" class="btn btn-default">show</a>
    </td>
</tr>
