{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block headline %}Job{% endblock %}

{% block content_content %}
    <p>
        <a href="{{ path('deployment') }}" class="btn btn-default">
            Back to the list
        </a>
    </p>

    <table class="table table-bordered table-show-deploy">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th colspan="2">
                    Output
                </th>
            </tr>
            <tr>
                <td colspan="2" class="deployment-output">
                    {{ entity.output | raw | nl2br }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block foot_script_assetic %}
    {{ parent() }}
    {% javascripts filter='?yui_js' output='compiled/js/deployments.js'
    '@QaSystemCoreBundle/Resources/public/js/deployments.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}
