{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block content %}
<h1>Project list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Uri</th>
            <th>Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for document in documents %}
        <tr>
            <td><a href="{{ path('jira_project_show', { 'id': document.id }) }}">{{ document.id }}</a></td>
            <td>{{ document.uri }}</td>
            <td>{{ document.name }}</td>
            <td>{{ document.username }}</td>
            <td>{{ document.password }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('jira_project_show', { 'id': document.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('jira_project_edit', { 'id': document.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('jira_project_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
