{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block content %}
<h1>Project</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ document.id }}</td>
        </tr>
        <tr>
            <th>Uri</th>
            <td>{{ document.uri }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ document.name }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ document.username }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ document.password }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('jira_project') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('jira_project_edit', { 'id': document.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('jira_project_delete', { 'id': document.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
