{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <form class="form-inline" role="form" id="filters" method="GET">
                <div class="form-group">
                    <div class="input-group">
                        <select name="author" class="chosen-select-deselect form-control author-filter" data-placeholder="Author">
                            <option></option>
                            {% for author in authors %}
                                <option value="{{ author }}">{{ author }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group date from">
                        <input type="text" name="date-from" class="form-control" placeholder="From"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group date to">
                        <input type="text" name="date-to" class="form-control" placeholder="To"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>
    </div>

<div class="row">
    <div id="work-logs"></div>
</div>

<script type="text/template" id="template-work-log">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
                <%= id %> - <span class="total-time-hours"></span>h <span class="total-time-minutes"></span>m
                <button type="button" class="btn btn-success btn-xs copy-to-clipboard pull-right">Copy to clipboard</button>
            </h2>
        </div>
        <div class="panel-body">
            <ul class="worklogs list-unstyled"></ul>
        </div>
    </div>
</script>

<script type="text/template" id="template-work-log-detail">
    <li>
        <h5 class="summary">[<%= key %> - <%= summary %>] <span class="badge pull-right"><%= timeSpentHours %>h <%= timeSpentMinutes %>m</span></h5>
        <p class="comment"><%= comment %></p>
    </li>
</script>

<script type="text/javascript">
    var App = {
        data: {
            workLogs: {{ docs|json_encode|raw }}
        }
    };
</script>
{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets filter='less,cssrewrite,?yui_css' output='compiled/css/app.css'
    '@RocketJiraCsBundle/Resources/public/css/datepicker3.css'
    '@RocketJiraCsBundle/Resources/public/less/filters.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block foot_script_assetic %}
    {{ parent() }}
    {% javascripts filter='?yui_js' output='compiled/js/app.js'
    '@RocketJiraCsBundle/Resources/public/js/vendor/underscore.js'
    '@RocketJiraCsBundle/Resources/public/js/vendor/backbone.js'
    '@RocketJiraCsBundle/Resources/public/js/vendor/bootstrap-datepicker.js'
    '@RocketJiraCsBundle/Resources/public/js/vendor/ZeroClipboard.js'
    '@RocketJiraCsBundle/Resources/public/js/src/bootstrap.js'
    '@RocketJiraCsBundle/Resources/public/js/src/models/*'
    '@RocketJiraCsBundle/Resources/public/js/src/views/*'
    '@RocketJiraCsBundle/Resources/public/js/src/app.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}