{{ include('QaSystemCoreBundle:Deployment:deploymentStatusFilter.html.twig', { 'selectedStatus': selectedStatus }) }}

<table class="table table-bordered table-hover table-deployment">
    <thead>
        <tr>
            <th>{{ knp_pagination_sortable(servers, 'Id', 'd.id') }}</th>
            <th>Project</th>
            <th>Recipe</th>
            <th>Branch</th>
            <th>{{ knp_pagination_sortable(servers, 'Server', 's.name') }}</th>
            <th>Status</th>
            <th class="start-date">{{ knp_pagination_sortable(servers, 'Started at', 'd.startDate') }}</th>
            <th class="start-date">{{ knp_pagination_sortable(servers, 'Finished at', 'd.endDate') }}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for server in servers %}
        {% set deployment = server.lastDeploy(selectedStatus) %}
        {% if deployment != false %}
            {{ include('QaSystemCoreBundle:Deployment:deploymentRow.html.twig', { "deployment": deployment }) }}
        {% endif %}
    {% endfor %}
    </tbody>
</table>
