{% extends 'QaSystemCoreBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <a href="{{ path('deployment') }}" class="btn btn-large btn-default btn-block">Manage deployments</a>
        </div>
        <div class="col-md-4">
            <a href="{{ path('project') }}" class="btn btn-large btn-default btn-block">Manage projects</a>
        </div>
        <div class="col-md-4">
            <a href="{{ path('recipe') }}" class="btn btn-large btn-default btn-block">Manage recipes</a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-8">
            <h2>Deployment list</h2>
            {{ include('@QaSystemCore/Deployment/_deployments.html.twig', { "deployments": deployments }) }}
        </div>

        <div class="col-md-4">
            <h2>Project list</h2>
            {{ include('@QaSystemCore/Project/_projects.html.twig', { "projects": projects, "use_small_button": true }) }}
        </div>
    </div>

{% endblock %}

{% block foot_script_assetic %}
    {{ parent() }}
    {% javascripts filter='?yui_js' output='compiled/js/homepage.js'
    '@QaSystemCoreBundle/Resources/public/js/homepage.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}
