<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in projects %}
        <tr>
            <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td class="text-center">
                <a href="{{ path('project_show', { 'id': entity.id }) }}" class="btn btn-default">show</a>
                <a href="{{ path('deployment_new', { 'project_id': entity.id }) }}" class="btn btn-default">new deployment</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
